uv==0.6.6
marimo==0.11.20
jupyter-marimo-proxy==0.0.4
jupyterlab-pyflyby==5.1.2
pyflyby==1.9.11
altair==5.5.0
hvplot==0.11.2
matplotlib==3.10.1
memray==1.16.0
numba==0.61.0
numpy
pandas==2.2.3
plotly==6.0.0
polars==1.25.2
pyarrow==19.0.1
scalene==1.5.51
scipy==1.15.2
viztracer==1.0.3
